.well
  = form.input :name

.well  
  = form.input :markup_language, collection: Ecm::Pictures::markup_languages
  = form.input :description, input_html: { 'data-add-editor': Itsf::Backend.features?(:'ace-rails-ap'), 'data-editor-syntax': :textile }

.well
  = form.input :link_images

.well
  = form.input :picture_images, as: :file, input_html: { multiple: 'multiple' }

- if form.object.respond_to?(:tag_list)
  .well
    = form.input :tag_list, input_html: { value: form.object.tag_list.to_s }