= table.column :name, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :description, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :link_images, sortable: true
= table.column :pictures_count, sortable: true do |gallery|
  %span.label.label-default= gallery.pictures_count
= table.timestamps