= table.column :name, class: 'truncate-chars truncate-chars-30'
= table.column :description, class: 'truncate-chars truncate-chars-30'
= table.column :link_images
= table.column :pictures_count do |gallery|
  %span.label.label-default= gallery.pictures_count
= table.timestamps