= table.column :name, class: 'truncate-chars truncate-chars-30', sortable: true
= table.column :description, class: 'truncate-chars truncate-chars-30', sortable: true
= table.column :link_images, sortable: true
= table.column :pictures_count do |gallery|
  %span.label.label-default= gallery.pictures_count
= table.timestamps