.well
  = form.association :gallery

.well
  = form.input :name

.well  
  = form.input :markup_language, collection: Ecm::Pictures::markup_languages
  = form.input :description, input_html: { 'data-add-editor': Itsf::Backend.features?(:'ace-rails-ap'), 'data-editor-syntax': :textile }

.well
  = form.input :image
  = image_tag(form.object.image.url(:default_thumb)) if form.object.image.present?

- if Ecm::Pictures::Backend::Configuration.enable_html5_camera_support
  %input{ name: 'ecm_pictures_picture[image_base64]', type: 'hidden', id: 'ecm_pictures_picture_image_base64', value: '' }
  .well
    .bottom-margin-1
      = link_to(t('.enable_camera'), '#', class: 'btn btn-primary', data: { 'camera-toggle': true, 'camera-target': '#camera' })
      = link_to(t('.capture_picture'), '#', class: 'btn btn-primary', data: { 'capture-picture': true, 'camera-target': '#camera' })
    #camera.bottom-margin-1
    #snapshots.row

- if form.object.respond_to?(:tag_list)
  .well
    = form.input :tag_list, input_html: { value: form.object.tag_list.to_s }