= table.row :image, as: :image
= table.row :id
= table.row :picture_gallery
= table.row :name
= table.row :description, as: :text, syntax: table.model.markup_language
= table.row :image_file_name
= table.row :image_file_size
= table.row :image_content_type
= table.row :image_updated_at
= table.row :image_fingerprint
= table.row :created_at
= table.row :updated_at