= table.row :image, as: :image
= table.row :id
= table.row :gallery, as: :association
= table.row :name
= table.row :description, as: :text, syntax: table.resource.markup_language
= table.row :image_file_name
= table.row :image_file_size
= table.row :image_content_type
= table.row :image_updated_at
= table.row :image_fingerprint
- if table.resource.respond_to?(:tag_list)
  = table.row :tag_list
= table.row :display_code_for_textile
= table.row :display_code_for_erb
= table.row :published
= table.row :created_at
= table.row :updated_at