= table.association :gallery
= table.column(:preview_picture) do |picture|
  %img.img-responsive.bottom-margin-2{ src: picture.image.url(:default_thumb) }
= table.column :name, class: 'truncate-chars truncate-chars-30'
= table.column :description, class: 'truncate-chars truncate-chars-30'
= table.column(:image_file_size) { |picture| number_to_human_size(picture.image_file_size) }
= table.timestamps